.thelexicon-tst {
  min-height: 10em;
  min-width: 10em;
  position: absolute;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  z-index: 1000;
}

.lexicon {
  width: 40%;
  max-width: 800px;
}

.highlight {
  background-color: yellow;
}
