.highlight {
    background-color: #97c21c;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    color: white !important;
}

.thelexicon-tst-popup {
    min-height: 10em;
    min-width: 10em;
    position: absolute;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    z-index: 1000;
}

.thelexicon-tst-popup img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  pointer-events: none;
}
